<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<!-- online-fonts -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!--//online-fonts -->
<body>
<div class="header">
	<h1>dark error page</h1>
</div>
<div class="w3-main">
	<div class="agile-info">
		<h2>Sniffer Start!</h2>
		<h3>Sniffer Start!</h3>
		<p>ahaha,sniffer is running.</p>

			
		<a href="/">go back</a>
	</div>
</div>
<div class="footer-w3l">
	<p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">keinz</a></p>
</div>

</body>
</html>